@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.ql-container {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ql-editor {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.5;
  padding: 1rem;
}

.reference {
  color: inherit; /* Reset color */
  text-decoration: none; /* Remove underline */
  cursor: inherit; /* Reset cursor */
}

.footnote-link {
  @apply no-underline text-blue-500 !important;
}

.ql-align-center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ql-align-right img {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.ql-align-justify img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ql-align-left img {
  display: block;
  margin-left: 0;
  margin-right: auto;
}

.ql-cite::before {
  content: '[C]';
  display: block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  /* background-image: url('/cite_icon.svg'); */
  /* background-size: cover;
  width: 18px;
  height: 18px;  */
}

.ql-cite {
  position: relative;
}

.ql-citeasdf:hover::after {
  content: 'citation';
  /* display: block; */
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  padding: 0.25rem;
  background-color: #aaaa;
  color: #000;
  border-radius: 0.25rem;
  z-index: 1;
}
